{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Portal Gun | Welcome{% endblock %}

{% block main_content %}
<div>
<div class="banner">
    <div class="container">
        <div class="header-text">
            <p class="big-text">Welcome to Rick and Morty the Stack!</p>
            <h2>I am your portal gun</h2>
            <p class="small-text">I am here to guide you throughout your journey. Click the buttons to quickly navigate to the relevant pages</p>
            <div class="button-section">
                <ul>
                    <li><a href="{% url "schedule:portal" %}" class="top-button white">Portals</a></li>
                    <li><a href="{% url "info:teams" %}" class="top-button white">Your Team</a></li>
                    <li><a href="{% url "schedule:schedule" %}" class="top-button white">Schedule</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
<div class="desc" id="portal">
	<div class="container">
    	<h2>Your Journey Begins One Dimmension at a Time</h2>
        <p>There are tons of universes for you to visit. However you will need to enter the coordinates for the Portal gun to tell you how to get to the location. To do this, click <strong>PORTAL</strong> in the menu</p>
        <p>Throughout your adventures, you will find new dimmensions to go to. Simply enter the dimmension name into the portal gun and press go! You cannot travel to a dimmension that you don't know yet. Make sure to read the instructions of each activity carefully<p>
        <p>To review the dimmensions you've unlocked, go to <strong>SCHEDULE</strong> in the menu.</p>
    </div>
</div>

<div class="features" id="team">
	<div class="container">
    	<h3 class="text-head">Your Team</h3>
    	<div class="features-section">
            <ul>
            	<li>
                	<div class="feature-icon icon1"></div>
                 	<h4>Rick Sanchez</h4>
                    <p>You are an inconsiderate ass. You pursue science in the farthest reaches of the galaxy, but AT WHAT COST? Well, at the cost of your family, loved ones, and friends. In your galactic escapades (some might call them “episodic in nature”) and shifty deals (you sell guns to murderers, if you don’t remember) you have often found yourself on the wrong side of the law, which ultimately gets your good friend Mr. Eagleman killed. Poor guy never stood a chance. You’re an old and cynical man who drags your poor grandson into scuffles and scrapes. Into harm’s way. Are you a good grandfather? Not really.</p>
                 </li>
                 <li>
                	<div class="feature-icon icon2"></div>
                 	<h4>Morty Smith</h4>
                    <p>You are a whiny kid. You wear a YELLOW t-shirt. Like seriously, do you only have one t-shirt? The only reason your grandfather loves you is because your brain sends out a pattern that perfectly cancels out his genius brain waves. Which means you’re not a genius. It means you’re the opposite of a genius. It means you’re not very smart, is what I’m saying. Have you ever watched this show called Futurama? You would be the incompetent character. BUT, today you can REDEEM yourself. Maybe.</p>
                 </li>
                 <li>
                	<div class="feature-icon icon3"></div>
                 	<h4>Summer Smith (Overflow)</h4>
                    <p>You’re raining on the parade. Go home, Summer.</p>

                    <p>Nah, just kidding. But seriously, Morty is grandpa’s favorite kid. Why do you think he gets to go on all of the cool adventures except for that one time you got to tag along at everything went to Hell in a nicely woven handbasket? Because the show is called “Rick and MORTY” not “Rick and NOT-MORTY.” We good? We good.</p>
                 </li>
            </ul>

            <p>Each team has a specific characteristics. You can learn more about your team by selecting <strong>TEAM</strong> from the menu.</p>
        </div>
        <div class="caution">
            <img src="{% static "images/caution.png" %}"/>
            <p class="big-text">If you see this sign, the info is confidential! Don't show this information to other teams!</p>
        </div>
    </div>
</div>

<div class="stories" id="schedule">
	<div class="container">
    	<h3 class="text-head">The Schedule</h3>
        <p class="box-desc">The <strong>schedule</strong> will be the one stop place to find information about places you have visited, and where you should visit next. </p>
        <p class="box-desc"> Keep checking this tab for updates</p>
    </div>
</div>

<div class="contact" id="help">
	<div class="container">
    	<h3 class="text-head">Get Help</h3>
        <p class="box-desc">If you ever need to refer back to this page again, go to this page, click the logo up top.
        <p class="box-desc"> If you're really lost, contact one of the contacts below, or meet back up at the Tavern and ask help from the tavernkeeper</p>
        <div class="stories-section">
            <ul>
                <li>
                    <a href="tel:+18312770606">
                    <div class="story-img"><img src="{% static "images/story1.png" %}"/></div>
                        <div class="story-box">
                            <h4>Kevin</h4>
                            <p>He is an unassuming Zigerion that is often picked on for his nerdy disposition. Kevin was forced to research human nudity even though Zigerons detest all things crude. </p>
                            <p>831-277-0606</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="tel:+18656754317">
                    <div class="story-img"><img src="{% static "images/story2.png" %}"/></div>
                        <div class="story-box">
                            <h4>Jerry</h4>
                            <p>Jerry is Summer and Morty's very inept and insecure father. He was an adman until he was fired, and cannot seem to find a job.</p>
                            <p>865-675-4317</p>

                        </div>
                    </a>
                </li>
                <li>
                    <a href="tel:+18702991157">
                    <div class="story-img"><img src="{% static "images/story3.png" %}"/></div>
                        <div class="story-box">
                            <h4>Jessica</h4>
                            <p>Jessica is an attractive high school Student and Morty's love interest. It's too bad she barely knows that Morty exists</p>
                            <p>870-299-1157</p>

                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}