{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Portal Gun | Teams{% endblock %}

{% block main_content %}

<div class="desc">
	<div class="container">
    	<h2>Team {{ identity.team.name }}</h2>
        <img class="team-img" src="{{ MEDIA_URL }}{{ identity.team.team_img.url }}" />
        <p class="box-desc">{{ identity.team.description|linebreaks }}</p>
        <p class="box-desc">{{ identity.team.goal|linebreaks }}</p>

    </div>
</div>

{% if showhidden %}
<div class="features" id="features">
    <div class="container">
        <div class="caution">
            <h3 class="text-head">Alignment: {{ identity.alignment }}</h3>
            <p> {{ identity.alignment.description|linebreaks }}</p>
            <p> {{ identity.alignment.goal|linebreaks }}</p>

        </div>
        <div class="button-section"><div class="header-text">
            <a href="{% url "info:badge" %}" class="top-button white">Click here to show your badge</a></div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}