{% extends "base.html" %}

{% block title %}Log in{% endblock %}

{% block main_content %}

<div class="contact" id="contact">
  <div class="container">
    <h3 class="text-head">Log in</h3>
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    <div class="contact-section">
      <form method="post" action="?next={{ next|default:"/" }}">{% csrf_token %}
        {% if form.username.errors %} <span class="error"> {{ form.username.errors|join:", " }}</span>{% endif %}
        <input id="id_username" maxlength="254" name="username" type="text" placeholder="Username" />
        {% if form.password.errors %}<span class="error">{{ form.password.errors|join:", " }}</span>{% endif %}
        <input id="id_password" name="password" type="password" placeholder="Password" />
        <button type="submit" class="submit">Login</button>
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
    </div>
  </div>
</div>

{% endblock %}