{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Portal Gun | Schedule{% endblock %}
{% block main_content %}
  <div class="stories" id="stories">
    <div class="container">
      <h3 class="text-head">The Schedule</h3>
      <p>The schedule will be the one stop place to find information about places you have visited, and where you should visit next. Keep checking this tab for updates</p>
      <div class="stories-section">
        <ul>
          {% for item in eventlist %}
            <li><a href="{% url "schedule:event-detail" item.event.id %}">
              <div class="story-box">
                {% if item.event.event_img %}
                  <div class="story-img">
                    <img src="{{ item.event.event_img.url }}" />
                  </div>
                {% endif %}
                <h4>{{ item.event.name }}</h4>
                <p>Location: {{ item.event.location }}</p>
                <p>Time: {{ item.event.time }} </p>
                <p>Duration: {{ item.event.duration }}</p>
                <p>{{ item.event.description }}</p>
              </div></a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}